.navbar-custom {
  background-color: rgb(16,137,141) !important;
  margin-bottom: 0.5vh;
  color: rgb(173, 173, 173);
  text-shadow: 5px;
}

.profile-img{
  width:25px;
  height:25px;
  border-radius:4rem;
  margin-top: 0.68rem;
}

body {
  background-image: url('./back2.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}